.blocflex {
    display : flex;
    justify-content: space-between;
    flex-wrap : wrap;
    font-family: 'Tilt Warp', cursive;

}
.blocflex__article {
    flex : 1 0 250px;
    padding : 5px;
    margin : 10px;
    border : 1px solid limegreen;
    font-family: 'Tilt Warp', cursive;
}
.blocflex__galerie {
   flex : 1 0 100%; 
   
}