sitetitre{
    text-decoration: none;
}
.sitetitre h1{
    font-size: clamp(1rem, 0.3864rem + 2.4545vw, 4.375rem);
    color: lime;
}


.menu__entete{
    transform: translateX(400px);
    transition: transform 0.5s;
    @media screen and (min-width: $largeur__tablette){
        transform: translateX(0);
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        list-style-type: none;
        @media screen and (min-width: $largeur__tablette){
            flex-direction: row;
            align-items: center;
        }

        .menu-item{
            a{
                padding: 3px 5px;
                color: lime;
            }
        }

        .menu-item::before{
            content: "";
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            margin-inline-end: 0;
        }
    }
}

.burger{
    display: block;
    @media screen and (min-width:$largeur__tablette) {
        display: none;
    }
}

#chkBurger:checked ~ .menu__entete{
    transform: translateX(0);
}

#chkBurger{
    display: none;
}

.menu__recherche{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    @media screen and (min-width: $largeur__bureau){
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
}

.entete__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}