.menu-evenement-container{ //nav
.menu{ //ul
display: flex;
justify-content:space-between;
    .menu-item{ //li
        display: flex;
        flex-direction: column;
        border: 1px solid lime;
        height: auto;
        margin: 10px;

        a{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title{
                font-size: 1.5rem;
            }
            .description{
                font-size: 1.5rem;
            }
            .menu-thumbnail{
                display: block;
                width: 150px;
                height: 150px;
            }
        }
    }
}
}
.img__archive{
    width: 80%;
    height: 80%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.archive__cours .img__archive{
background-image: url();
}
.archive__4w4  .img__archive{
    background-image: url();
}

